* {
  font-family: arial;
  font-size: 8pt;
}
h2 {
  font-size: 10pt;
  border-bottom: 1px dotted gray;
}

.tab-item-handle {
	font-size: 11pt;
	font-family: Arial Black;
	height: 30px; 
	width: 100px;
	background: #c2d1f0;
}

.tab-item-handle:hover {
    background: #97afe0;
}

.tab-item-handle.active {
    background: #6188d8;
}

.tab-handle {
	border: 1px solid black;
	background: #c2d1f0;
	height: 30px;
}

.floating-tab {
	border: 1px solid black;
	height: 30px;
	position: fixed;
	right: 10px;
	bottom: 1px;
}

.slick-row .slick-cell.selected {
	border: 1px solid black;
}


#contextMenu {
  background: #e1efc7;
  border: 1px solid gray;
  padding: 2px;
  display: inline-block;
  min-width: 100px;
  -moz-box-shadow: 2px 2px 2px silver;
  -webkit-box-shadow: 2px 2px 2px silver;
  z-index: 99999;
}
#contextMenu li {
  padding: 4px 4px 4px 14px;
  list-style: none;
  cursor: pointer;
}
#contextMenu li:hover {
  background-color: white;
}
